version: '3.8'
services:
  backend:
    build: ./FastAPIBackend
    ports:
      - "8000:8000"
    volumes:
      - ./FastAPIBackend:/app
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_container
    ports:
      - "11434:11434"
    volumes:
      - C:\Users\Emre\.ollama:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]